.filter-order-container {
    display: flex;
    justify-content:space-around;
    align-items: center;
    background-color: #FFCB05;
    padding: 10px;
  }
  
  .filter-order-container h2 {
    margin: 0;
    font-size: 15px;
  }
  
  .filter-order-container select {
    margin-left: 10px;
    border-radius: 10px;
    background-color: #68c05756;
  }

  .filter-order-container select:hover {
    margin-left: 10px;
    border-radius: 10px;
    background-color: #156935a4;
    box-shadow: white;
  }
  
  .filter-order-container select[multiple] {
    height: 80px;
  }
  
  .filter-order-container select option {
    padding: 5px;
  }