.filter-order-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFCB05;
    padding: 10px;
  }
  
  .filter-order-container h2 {
    margin: 0;
  }
  
  .filter-order-container select {
    margin-left: 10px;
    border-radius: 5px;
  }
  
  .filter-order-container select[multiple] {
    height: 80px;
  }
  
  .filter-order-container select option {
    padding: 5px;
  }